# Byte-compiled files
__pycache__/
*.pyc

# Environment variables
.env

# Virtual environment
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Miscellaneous
.DS_Store
*.swp
